body{
    background-color: #dae0e6;
}

.CardLeftBar{
    background-color: #f8f9fa;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Avatar{
    width: 20px;
    height: 20px;
    position: static;
    overflow: hidden;
    border-radius: 50%;
}

.AvatarText{
    font-weight: bold;
}

.HiddenLink{
    text-decoration: none;
    color: black;
}

.HiddenLink:hover{
    text-decoration: underline;
    color: black;
}

.CardHeader{
    font-size: 12px;
}

#dropdown-filter{
    border-radius: 20px;
    background-color: white;
    border-color: white;
    color: grey;
    font-weight: bold;
}
#dropdown-filter:hover{
    background-color: #dae0e6;
}

.FeedFilter{
    background-color: white;
    border-color: white;
    color: grey;
    font-weight: bold;
}

.FeedFilter:hover{
    background-color: #dae0e6;
    color: grey;
}

.FeedFilterActive, .FeedFilterActive:hover{
    background-color: #f8f9fa;
    color: blue;
    font-weight: bold;
}